<section id="galeria">
	<div class="content">
		<div class="overlay"></div>
		<div class="card" style="width: 90%; margin-left: auto;margin-right: auto; background-color: #dfdfdf;">
			<div class="card-body">
				<h2 class="card-title" style="color: #2c9424;">GALERIA</h2>

				<div class="row galeria-grid">
					<div class="col-xs-4 col-lg-4 col-md-6 thumb mb-2rem">
						<img src="src/galeria-1.jpeg" class="zoom img-fluid" alt="">
					</div>
					<div class="col-xs-4 col-lg-4 col-md-6 thumb mb-2rem">
						<img src="src/galeria-2.jpeg" class="zoom img-fluid" alt="">
					</div>
					<div class="col-xs-4 col-lg-4 col-md-6 thumb mb-2rem">
						<img src="src/galeria-3.jpeg" class="zoom img-fluid" alt="">
					</div>
					<div class="col-xs-4 col-lg-4 col-md-6 thumb mb-2rem">
						<img src="src/galeria-4.jpeg" class="zoom img-fluid" alt="">
					</div>

					<div class="col-lg-4 col-md-6 col-xs-4 thumb">
						<img src="src/galeria-5.jpeg" class="zoom img-fluid" alt="">
					</div>

					<div class="col-lg-4 col-md-6 col-xs-4 thumb">
						<img src="src/galeria-6.jpeg" class="zoom img-fluid" alt="">
					</div>
				</div>
			</div>
		</div>
</section>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<img id="modal-imagem" src="" alt="Imagem">
		</div>
	</div>
</div>