<section id="instituto">
	<div class="content">
		<div class="overlay"></div>
		<div class="card" style="width: 90%; margin-left: auto;margin-right: auto; background-color: #dfdfdf;">
			<div class="card-body">
				<h2 class="card-title" style="color: #2c9424;">INSTITUCIONAL - CÂMPUS CHARQUEADAS</h2>
				<p class="card-text">
					O Câmpus Charqueadas do IFSul teve sua origem a partir do Plano de Expansão da Rede Federal de
					Educação Profissional e Tecnológica da SETEC/MEC, lançado em 2005.
				</p>
				<div class="img">
					<img src="src/portaria_campus.jpg" alt="Portaria do instituto">
				</div>
				<p>A escola funciona desde 2006 e oferece cursos gratuitos, sendo eles: Curso Técnico Integrado em
					Mecatrônica, Curso Técnico Integrado em Informática, Curso Técnico Integrado em Fabricação Mecânica
					(PROEJA), Curso Superior de Tecnologia em Sistemas para Internet (TSI), Curso Superior de Engenharia
					de Controle e Automação, Curso de Pós-graduação em Educação e Contemporaneidade (especialização) e o
					Mestrado Profissional em Educação Profissional e Tecnológica em Rede (ProfEPT). </p>
				<b>Contato:</b>
				<p>Endereço: Rua General Balbão, 81 · Bairro Centro
					<br>Charqueadas/RS · CEP 96745-000
					<br>Telefone: (51) 3658-3602
				</p>

				<br>

				<h2 class="card-title" style="color: #2c9424;">DIREÇÃO GERAL DO CÂMPUS CHARQUEADAS</h2>

				<p>
					<b>Diretor-geral do Câmpus Charqueadas</b><br>
					Jeferson Fernando de Souza Wolff | ch-dirger@ifsul.edu.br
				</p>

				<p>
					<b>Chefe do Departamento de Ensino, Pesquisa e Extensão</b><br>
					Vinicius Tavares Guimaraes | ch-depex@ifsul.edu.br
				</p>

				<p>
					<b>Chefe do Departamento de Administração e Planejamento</b><br>
					Márcia Beatriz da Silva | ch-deap@ifsul.edu.br
				</p>

				<p>
					<b>Chefe de Gabinete da Direção-geral</b><br>
					Janaína Vargas Escouto | ch-gabdir@ifsul.edu.br
				</p>
			</div>
		</div>
	</div>
</section>