<section id="news">
	<div class="card" style="width: 90%; margin-left: auto;margin-right: auto; background-color: #dfdfdf;">
		<div class="card-body">
			<h2 class="card-title" style="color: #2c9424;">ÚLTIMAS NOTÍCIAS</h2>

			<div class="row mb-2">
				<div class="col-md-6">
					<div
						class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
						<div class="col p-4 d-flex flex-column position-static">
							<strong class="d-inline-block mb-2 text-success">Novidade</strong>
							<h3 class="mb-0">PROCESSO SELETIVO</h3>
							<div class="mb-1 text-muted">25 de Outubro</div>
							<p class="card-text mb-auto">Inscrições abertas para o processo seletivo dos cursos
								superiores em Engenharia de Controle e Automação e Superior de Tecnologia em Sistemas
								para Internet</p>
							<br>
							<a href="http://www.charqueadas.ifsul.edu.br/" target="_blank">Continue lendo</a>
						</div>
						<div class="col-auto d-none d-lg-block">
							<img src="src/noticia-1.jpg" alt="Notícia 1" class="noticia-img">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div
						class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
						<div class="col p-4 d-flex flex-column position-static">
							<strong class="d-inline-block mb-2 text-success">Novidade</strong>
							<h3 class="mb-0">AGRADECIMENTO</h3>
							<div class="mb-1 text-muted">15 de Outubro</div>
							<p class="mb-auto">A direção do câmpus tem o prazer de desejar mais um ótimo dia dos
								professores para todos e todas que vivem suas vidas em prol do aprendizado e da
								educação.</p>
							<br>
							<a href="http://www.charqueadas.ifsul.edu.br/" target="_blank">Continue lendo</a>
						</div>
						<div class="col-auto d-none d-lg-block">
							<img src="src/noticia-2.jpg" alt="Notícia 2" class="noticia-img">
						</div>
					</div>
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-md-6">
					<div
						class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
						<div class="col p-4 d-flex flex-column position-static">
							<strong class="d-inline-block mb-2 text-success">Novidade</strong>
							<h3 class="mb-0">VEM AI</h3>
							<div class="mb-1 text-muted">1 de Outubro</div>
							<p class="card-text mb-auto">😍 VESTIBULAR 📣📣 O IFSul divulgou os editais do processo
								seletivo do ensino médio integrado 2023!
								📣 As inscrições para a seleção estão abertas até o dia 28 de outubro e deverão ser
								realizadas pelo site do Processo Seletivo.
							</p>
							<br>
							<a href="http://www.charqueadas.ifsul.edu.br/" target="_blank">Continue lendo</a>
						</div>
						<div class="col-auto d-none d-lg-block">
							<img src="src/noticia-3.jpg" alt="Notícia 3" class="noticia-img">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div
						class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
						<div class="col p-4 d-flex flex-column position-static">
							<strong class="d-inline-block mb-2 text-success">Extensão</strong>
							<h3 class="mb-0">CURSOS ONLINE GRATUITOS</h3>
							<div class="mb-1 text-muted">29 de Julho</div>
							<p class="mb-auto">Que tal aprender inglês ou espanhol gratuitamente e 100% online, em um
								curso com a qualidade IFSul? Neste primeiro de três módulos, cada um com duração de um
								semestre, você aprenderá o idioma com vídeos, apostilas e muito mais!</p>
							<br>
							<a href="http://www.charqueadas.ifsul.edu.br/" target="_blank">Continue lendo</a>
						</div>
						<div class="col-auto d-none d-lg-block">
							<img src="src/noticia-4.jpg" alt="Notícia 4" class="noticia-img">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>